body {
  display: flex;
  flex-direction: column;
  background-color: #2C2D32;
  margin: 0;
}

.assignment {
  background-color: #1B1C20;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 200px;
  border-radius: 20px;
  color: white;
}

body .assignment:nth-child(11) {
  margin-bottom: 20px;
}
