html, body {
  margin: 0;
  padding: 0;
  min-width: 1024px; /* width of min popular desktop screen resolution */
  max-width: 1920px; /* width of max popular desktop screen resolution */
  font-family: Vernada, sans-serif;
}
/* Header */
.header {
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 5px;
  height: 100px;
  width: auto;
  background-color: #4cd137;
  border-radius: 100%; /* makes an object round */
}

.header__pages {
  margin-left: auto; /* push push three blocks into the right */
}

.header__pages > * {
  margin: 25px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
/* Banner */
.banner {
  background-color: #4cd137;
  display: flex;
}

.banner__app-description {
  color: white;
  max-width: 800px;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.banner__app-description h1 { /* to prevent size reduction when using <section> */
  font-size: 2em;
}

.banner__phone-image {
  padding: 30px 10% 30px 15%; /* plus 5% form banner__app-description padding-right */
  width: auto;
  height: 500px;
}

.button { /* Identical styling of banner and forms buttons*/
  background-color: #4cd137;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px; /*round the corners of the button*/
  width: 150px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 3px #999;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
}

.button:active{
  box-shadow: 0 0 #666;
  transform: translateY(3px);
}

.banner__app-description > * {
  margin: 20px;
  padding: 0;
}
/* Services */
.services {
  margin: 50px;
  display: flex;
  text-align: center;
}

.services__icon-color {
  color: #4cd137;
}

.services_container-for-icon {
  font-size: 30px;
}

.services p {
  margin: 0;
}
/* Form */
.forms {
  background-color: #4cd137;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms__block {
  width: 450px;
}

.forms__block h2 {
  text-align: center;
}

.forms__block h2 {
  margin-top: 60px;
  margin-bottom: 10px;
}

.forms__block--row {
  padding: 5px;
  display: flex;
}
/* do not touch the form elements that are not text input fields */
.forms__block--row input:not(.not-text-field) {
  height: 20px;
  flex: 2;
}

.forms__block--row input {
  margin-left: 10px;
}

.forms__block--row label {
  flex: 1;
  text-align: right;
}

.forms__block--row textarea {
  padding: 0;
  flex: 1;
  height: 100px;
  resize: none;
}
/* Search */
.search {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: #4cd137;
}